
body{
  font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
  padding-top: 40px;
}
p {
  font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
}
.not-logged-in .my-goals a:hover{
  cursor: text;
}
.container, 
.navbar-static-top .container, 
.navbar-fixed-top .container, 
.navbar-fixed-bottom .container {
/*  width: 740px; */
}
.well {
  background: #fffafa;
}
.navbar .brand {
  font-size: 16px;
}
a:hover {
  text-decoration: none;
}
.user-bar {
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}
.user-bar h4 {
  display: inline;
  background: #fffafa;
  padding: 10px;
  border: 1px solid #eee;
}
input#edit-title {
  width: 100%;
  font-size: 18px;
  padding: 10px 2px;
}
input {
  font-family: 'lucida grande',tahoma,verdana,arial,sans-serif; 
}
.form-item-post-to-fb {
  float: left;
  /* margin-left: 20px; */
}
.form-item-post-to-fb label{
  font-size: 0.8em;
}

img.fb-post {
  margin-right: 4px;
}

.goal-due-form {
    margin-top: 60px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.goal-due-form .form-actions {
    border: 0;
    margin: 0;
    margin-left: auto;
    padding: 0 10px 0 0;
    width: 260px;
}
.form-horizontal .form-item .description {
  margin-left: 160px;
}
.form-actions {
  background-color: #fffafa;
}
.field-name-field-account-confirmed {
  margin-left: 160px;
  color: #bbb;
  font-size: 0.9em;
}
.goal-due-form .form-submit{
  height: 30px;
}
.btn-completed {
   margin-left: 20px;
}
.btn-did-not-complete {
}
#goalthisweek-form-new .form-item-post-to-fb {
  margin-left: 0;
}
#goalthisweek-form-new .form-submit {
  float: right;
}
#user-nav {
  padding-top: 10px;
  font-size: 0.8em;
}
.ctools-dropdown-link-wrapper a:hover{
  text-decoration: none;
}
#user-nav .icon-user {
  margin-left: 12px
}
.goal-dates {
  font-size: 11px;
  color: gray;
  text-transform: uppercase;
}
.left-col {
  float: left;
}
.goal-date-range{
  width: 170px;
  display: inline-block;
}
.goal-status-icon {
  display: inline-block;
}
.right-col {
  float: right;
  width: 487px;
}
#the-goal {
  /* background: white; */
  padding: 10px;
}
.goal-row {
  border-top: 1px solid #eee;
  padding: 10px;
  /* background: white; */
}
.icon-ok {
  opacity: 70%;
}
.did-not-complete {
  color: red;
}
.login-block {
  text-align: center;
  font-size: 10px;
}
#beta {
  font-size: 9px;
  padding-top: 3px;
  color: #dddddd;
  float: left;
}
#page {
  min-height: 400px;
  background: url('images/graphpaper2.png') fixed repeat-x top center white;
}
.gtw-tour h1 {
  color: #3A87AD;
  padding-top: 10px;
}
.starfish {
  background: url('images/starfish_75.png') no-repeat top left;
  width: 75px;
  height: 75px;
  float: left;
  padding-right: 30px;
}
.tour-header {
}
.tour-row {
  font-size: 0.9em;
}
.tour-row img {
  border: 1px solid #ddd;
}
.tour-row .alert{
  font-size: 1.1em;
}
.tour-row p {
  border-top: 1px solid #eee;
  padding-top: 10px;
}
#footer .container {
  font-size: 10px;
  padding: 20px 0;

}
.week-goes-by {
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  color: #3A87AD;;
}
.small {
  font-size: 11px;
}

.ctools-dropdown-container a{
  padding: 6px 0;
  color: #222222;
}
#ctools-dropdown-1 .ctools-dropdown-container, 
#ctools-dropdown-2 .ctools-dropdown-container{ 
/* .user-nav-block .ctools-dropdown .ctools-dropdown-container { -- this doesnt work */
  margin-top: 4px;
  /* margin-left: -96px; */
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);  
}
/*
.messages, 
#ajax-register-user-login-block-wrapper .messages, 
#ajax-register-user-login-wrapper .messages{
  left: 0;
  position: absolute;
  right: 0;
  top: 27px;
  z-index: 7000;
  height: 36px;
    border-radius: 1px;
  
}

.messages.alert.alert-error {
    margin: 0 auto;
    position: relative;
    width: 500px;
   border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 1px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);  
    height: 36px;  
}
*/
/* user edit form */
input.username {
  width: 140px;
}
.page-user-edit #console {
  display: none; 
}
.page-user-edit .alert-success {
 display: block;
}
#edit-account .form-item-mail,
#edit-account .form-item-pass,
#edit-account .form-item-current-pass,
#edit-account .form-item-mail,
#edit-timezone {
  display: none;
}
#user-profile-form .privacy-option {
  display: inline-block;
  padding: 20px;
  border-top: 1px dotted #eee;
}
.user-profile-well {
  margin-top: 20px;
}
#user-profile-form #edit-field-privacy-profile-und-1, 
#user-profile-form #edit-field-privacy-profile-und-0 {
  vertical-align: top;
}
.account-link-info {
  font-size: 0.8em;
  text-align: center;
}
.recommended-privacy{
  color: green;
  font-size: 0.9em;
  display: inline;
}
/* intro page */
.intro {
  background: #fffafa;
  /* border: 1px solid #08C; */
}
p.intro {
  text-align: center;
  padding: 10px 0;
  border: 1px solid #ddd;
}
.tour-row {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}
.page-privacy #content,
.page-tos #content {
  font-size: 0.9em;
}